.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    z-index: 1000;
    padding: 2rem calc(4rem + 15px) 2rem 4rem;
}

.modalWrapper {
    margin: auto;
    height: 36rem;
    border-radius: 0.2rem;
    background: white;
    display: grid;
    grid-template-columns: minmax(20rem, 48rem);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
	to {
		opacity: initial;
		transform: initial;
	}
}

.dataWrapper {
    padding: 26px;
}

.buttonsWrapper {
    padding: 32px 0 18px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.modalSectionWrapper {
    margin: 20px 0;
}

@media (max-width: 40rem) {
    .modal {
        padding: 2rem calc(2rem + 15px) 2rem 2rem;
    }
}